In [8]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df['datetime'] = pd.to_datetime(df['datetime'])
df['hour'] = df['datetime'].dt.hour
df['dayofweek'] = df.datetime.dt.dayofweek
df['day'] = df.datetime.dt.day
df['month'] = df.datetime.dt.month
df['year'] = df.datetime.dt.year

In [4]:
df.drop(['datetime', 'casual', 'registered', 'temp',
         'humidity'], axis=1, inplace=True);

In [5]:
df.head()

,season,holiday,workingday,weather,atemp,windspeed,count,hour,dayofweek,day,month,year
0,1,0,0,1,14.395,0.0,16,0,5,1,1,2011
1,1,0,0,1,13.635,0.0,40,1,5,1,1,2011
2,1,0,0,1,13.635,0.0,32,2,5,1,1,2011
3,1,0,0,1,14.395,0.0,13,3,5,1,1,2011
4,1,0,0,1,14.395,0.0,1,4,5,1,1,2011

In [9]:

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.linear_model import LassoCV, RidgeCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder

from sklearn.preprocessing import StandardScaler

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

In [10]:
linreg = LinearRegression()
lasso = Lasso(random_state=30)
ridge = Ridge(random_state=30)
lasso_cv = LassoCV(random_state=30, cv=15, n_jobs=-1)
ridge_cv = RidgeCV(cv=15)
forest = RandomForestRegressor()


scaler = StandardScaler()
enc = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [14]:
x, y = df.drop('count', axis=1), df['count']

In [15]:
x_train, x_valid, y_train, y_valid = \
train_test_split(x.values, y.values, test_size=0.2, random_state=50)

In [16]:
models_name = ['linreg', 'lasso', 'lasso_cv', 'ridge', 'ridge_cv', 'forest']
models = [linreg, lasso, lasso_cv, ridge, ridge_cv, forest]

In [17]:
mse = []
for model in models:
    model.fit(x_train, y_train)
    mse.append(mean_squared_error(y_valid,
                                  model.predict(x_valid)))
    
pd.DataFrame(np.array([[mse], [np.sqrt(mse)]]).reshape(2, 6),
             index = ['mse', 'sqrt'], columns = models_name)

D:\Anaconda\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

,linreg,lasso,lasso_cv,ridge,ridge_cv,forest
mse,21083.711994,21102.963201,21094.645818,21083.667983,21083.371650,1969.234936
sqrt,145.202314,145.268590,145.239959,145.202162,145.201142,44.376063

In [18]:
data = df
data.head()

,season,holiday,workingday,weather,atemp,windspeed,count,hour,dayofweek,day,month,year
0,1,0,0,1,14.395,0.0,16,0,5,1,1,2011
1,1,0,0,1,13.635,0.0,40,1,5,1,1,2011
2,1,0,0,1,13.635,0.0,32,2,5,1,1,2011
3,1,0,0,1,14.395,0.0,13,3,5,1,1,2011
4,1,0,0,1,14.395,0.0,1,4,5,1,1,2011